
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<br/>
<br/>

<table id="example" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info">
    <thead>
        <tr role="row">
            <th>PmeDetailId</th>
            <th>Clocking</th>
            <th>Cpu</th>
            <th>Maximum</th>
            <th>Minimum</th>
            <th>Threshold</th>
            <th>PmeId</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>PmeDetailId</th>
            <th>Clocking</th>
            <th>Cpu</th>
            <th>Maximum</th>
            <th>Minimum</th>
            <th>Threshold</th>
            <th>PmeId</th>
        </tr>
    </tfoot>

    <tbody id="tableBody">
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/Pme/GetAll",
            async: false,
            type: "GET",
            data: "{}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if ($.isArray(data) && data.length > 0) {
                    var row = "";
                    $.each(data, function (index, item)
                    {
                        row += '<tr onclick = GetCsvData(' +  item.PmeDetailId  + ') title="Click to download as CSV" style="cursor: pointer;"><td>' + item.PmeDetailId + "</td><td>" + item.Clocking + "</td><td>" + item.Cpu + "</td><td>" + item.Maximum + "</td><td>" + item.Minimum + "</td><td>" + item.Threshold + "</td><td>" + item.PmeId + "</td></tr>";
                    });
                    $("#tableBody").html(row);
                }
            },
            error: function (result) {
                alert("Oops, something went wrong...Please refresh this page.");
            }
        });

        $('#example').DataTable({
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
    });

    function GetCsvData(id)
    {
        window.location.href = '@Url.Action("GetFile", "Pme")/' + id;
    }

</script>
